# This file contains common pin mappings for the BigTreeTech OctoPus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
position_endstop: 0
position_max: 220
homing_speed: 50
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
position_endstop: 0
position_max: 250
homing_speed: 50
endstop_pin: tmc2209_stepper_Y:virtual_endstop
homing_retract_dist: 0

[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 8
position_endstop: 0
position_max: 200
homing_speed: 12
second_homing_speed: 1
endstop_pin: probe:z_virtual_endstop

#[extruder]
#step_pin: PG4
#dir_pin: PC1
#enable_pin: !PA0
#microsteps: 16
#gear_ratio: 50:10
#rotation_distance: 22.67895
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#max_extrude_only_distance: 1400
#max_extrude_only_velocity: 75.0
#max_extrude_only_accel: 1500
#heater_pin: PA3 # HE1
#sensor_type: ATC Semitec 104GT-2
#sensor_pin:  PF4
#control: pid
#pid_Kp: 14.669
#pid_Ki: 0.572
#pid_Kd: 94.068
#min_temp: 0
#max_temp: 290

#[extruder1]
#step_pin: PF9
#dir_pin: PF10
#enable_pin: !PG2
#heater_pin: PA3 # HE1
#sensor_pin: PF5
#...

#[extruder2]
#step_pin: PC13
#dir_pin: PF0
#enable_pin: !PF1
#heater_pin: PB10 # HE2
#sensor_pin: PF6
#...

#[extruder3]
#step_pin: PE2
#dir_pin: PE3
#enable_pin: !PD4
#heater_pin: PB11 # HE3
#sensor_pin: PF7
#...

#[extruder4]
#step_pin: PE6
#dir_pin: PA14
#enable_pin: !PE0
#...

[heater_bed]
heater_pin: PA2 #HE0
sensor_pin: PF3
sensor_type: EPCOS 100K B57560G104F
control: watermark
min_temp: 0
max_temp: 130

[external_case fan]
pin: PA8 # FAN0

[internal_case fan1]
pin: PE5 # FAN1

#[mainboard_fan fan2]
#pin: PD12 # FAN2

#[heater_fan fan3]
#pin: PD13 # FAN3

#[heater_fan fan4]
#pin: PD14 # FAN4

#[heater_fan fan5]
#pin: PD15 # FAN5

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[filament_switch_sensor my_sensor]
pause_on_runout: True
#   When set to True, a PAUSE will execute immediately after a runout
#   is detected. Note that if pause_on_runout is False and the
#   runout_gcode is omitted then runout detection is disabled. Default
#   is True.
#runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
#event_delay: 3.0
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
#pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if OctoPrint exhibits strange pause behavior.
#   Default is 0.5 seconds.
switch_pin: PG12
#   The pin on which the switch is connected. This parameter must be
#   provided.


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_0E002B00135053424E363620-if00
#restart_method: command
# setup for PA9, PA10 USART1_tx / rx directly connected to the RPI GPIO TX / RX pins
# These are the pins the OctoPus uses for its built in RPI 40 pin connector
# only connect GND, TX, RX - supply 5v power to the RPI separately
# do not cross over TX/RX - it is done internally on the OctoPus PCB.
# Use "sudo raspi-config" to disable the serial terminal - but enable the serial port.
# When running "make menuconfig" you must un-select the USB Serial check box

[printer]
kinematics: corexy
max_velocity: 250
max_accel: 4500
max_z_velocity: 10
max_z_accel: 80

[bed_screws]
screw1: 15,15
screw2: 210,15
screw3: 210,210
screw4: 15,210

#[bltouch]
#sensor_pin: PB6
#control_pin: PB7
#x_offset: -0
#y_offset: -38.5
##z_offset: -0
#stow_on_each_sample: False
#probe_with_touch_mode: False 
#pin_move_time: 0.5
#speed: 10
#lift_speed: 20
#samples: 3
#sample_retract_dist: 5
#samples_tolerance_retries: 3

[safe_z_home]
home_xy_position: 100, 100 # Change coordinates to the center of your print bed
z_hop: 10                 # Move up 10mm

[firmware_retraction]
retract_length: 1
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of additional filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PC4
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999
diag_pin: PG6      # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 255  # 255 is most sensitive value, 0 is least sensitive

[tmc2209 stepper_y]
uart_pin: PD11
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999
diag_pin: PG9      # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 255  # 255 is most sensitive value, 0 is least sensitive

[tmc2209 stepper_z]
uart_pin: PC6
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 999999
diag_pin: PG10      # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 255  # 255 is most sensitive value, 0 is least sensitive

#[tmc2209 extruder]
#uart_pin: PC7
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2209 extruder1]
#uart_pin: PF2
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2209 extruder2]
#uart_pin: PE4
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2209 extruder3]
#uart_pin: PE1
#run_current: 0.8
#hold_current: 0.5
#stealthchop_threshold: 999999

#[tmc2209 extruder4]
#uart_pin: PD3
#run_current: 0.8
#hold_current: 0.5
#stealthchop_threshold: 999999