#Mainsail settings
[include mainsail.cfg]

#Timelapse
[include timelapse.cfg]

#NeoPixel macros
[include neopixel.cfg]

#Steppers config
[include steppers.cfg]

#Macros
[include macros.cfg]

#Neopixel progress
[include led_progress.cfg]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_160048001750534E4E313420-if00

# This file contains common pin mappings for the BigTreeTech OctoPus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

#SB2040
[mcu sb2040]
canbus_uuid: e13d733bb746

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[temperature_sensor FLY-SB2040]
sensor_type: temperature_mcu
sensor_mcu: sb2040
min_temp: 0
max_temp: 350

## SB2040板载NTC100K温度
[temperature_sensor case]
sensor_type: ATC Semitec 104GT-2
sensor_pin: sb2040:gpio26
min_temp: 0
max_temp: 350

#####################################################################
#   FANS
#####################################################################
## Hotend fan
[heater_fan hotend_fan]
pin: sb2040:gpio14
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

## Parts fan
[fan]
pin: sb2040:gpio13
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan controller_fan]
##	Controller fan - CNC_FAN2
pin: PD12
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

###########################

#####################################################################
#   LED Control
#####################################################################

[neopixel my_led]
pin: PB0
chain_count: 25

## Chamber Lighting - HE2 Connector (Optional)
#[output_pin caselight]
#pin: PB10
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

[extruder]
microsteps: 16
gear_ratio: 50:10
rotation_distance: 23.135 #22.67895
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 1400
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
step_pin: sb2040:gpio9
dir_pin: sb2040:gpio10
enable_pin: !sb2040:gpio7
heater_pin: sb2040:gpio6
sensor_pin: sb2040:gpio27
sensor_type: ATC Semitec 104GT-2
min_temp: 0
max_temp: 350
min_extrude_temp: 0 #170
## sensor_type: PT1000
## pullup_resistor: 1000
## SB2040默认热敏上拉电阻为4700。可通过跳线帽配置为1000，1000更适合PT1000类型的温度传感器

[tmc2209 extruder]
uart_pin: sb2040:gpio8
## For OMC (StepperOnline) 14HR07-1004VRN 1A 0.9°
#run_current: 0.5	# for OMC 14HR07-1004VRN rated at 1A
#hold_current: 0.3	# for OMC 14HR07-1004VRN rated at 1A
## For LDO LDO 36STH17-1004AHG 1A 1.8°
run_current: 0.35	# for LDO 36STH17-1004AHG
 

# ## ADXL345加速度计
# [adxl345]
# cs_pin: sb2040:gpio1
# spi_software_sclk_pin: sb2040:gpio0
# spi_software_mosi_pin: sb2040:gpio3
# spi_software_miso_pin: sb2040:gpio2

[heater_bed]
##	SSR Pin - BED_OUT
heater_pin: PA3
sensor_type: Generic 3950 #NTC 100K beta 3950
sensor_pin: PF3
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 120

[idle_timeout]
timeout: 1800

[firmware_retraction]
retract_length: 0.75
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 60
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of additional filament to add when
#   unretracting.
unretract_speed: 60
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

#####################################################################
#   Probe
#####################################################################

##  Inductive Probe
##  This probe is not used for Z height, only Quad Gantry Leveling
[probe]
#[Voron Tap]
pin: sb2040:gpio28
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 3.0
lift_speed: 7
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

# [safe_z_home]
# ##	XY Location of the Z Endstop Switch
# ##	Update -10,-10 to the XY coordinates of your endstop pin 
# ##	(such as 157,305) after going through Z Endstop Pin
# ##	Location Definition step.
# home_xy_position:-10,-10
# speed:100
# z_hop:10

[safe_z_home]
home_xy_position: 175,175
#   A X, Y coordinate (e.g. 100, 100) where the Z homing should be
#   performed. This parameter must be provided.
speed: 100
#   Speed at which the toolhead is moved to the safe Z home
#   coordinate. The default is 50 mm/s
z_hop: 10
#   Distance (in mm) to lift the Z axis prior to homing. This is
#   applied to any homing command, even if it doesn't home the Z axis.
#   If the Z axis is already homed and the current Z position is less
#   than z_hop, then this will lift the head to a height of z_hop. If
#   the Z axis is not already homed the head is lifted by z_hop.
#   The default is to not implement Z hop.
z_hop_speed: 15.0
#   Speed (in mm/s) at which the Z axis is lifted prior to homing. The
#   default is 15 mm/s.
move_to_previous: False
#   When set to True, the X and Y axes are reset to their previous
#   positions after Z axis homing. The default is False.

[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions

##	Gantry Corners for 350mm Build
gantry_corners:
	-60,-10
	410,420
#	Probe points
points:
	50,25
	50,275
	300,275
	300,25

speed: 160
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -0.625
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.864
#*# pid_ki = 1.563
#*# pid_kd = 254.133
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 40.435
#*# pid_ki = 4.729
#*# pid_kd = 86.431
